.metadata
*.orig
*~
bin
target
build
Servers/
.metadata
.project
.classpath
.settings/
.clover/
.gradle
com.springsource.sts.maven.prefs
org.eclipse.jdt.core.prefs
org.eclipse.jdt.ui.prefs
org.maven.ide.eclipse.prefs


.idea
*.iml
